/* ask.library.berklee.edu specific CSS */
.navbar-form .s-la-content-search-query, .navbar-form .s-la-content-search-query{
	height:34px;
	margin-top:10px;
}
.s-la-navbrowse{
	margin-top:18px;
}
body > .container{margin-top:16px;}
@media (max-width: 767px){
	#bcm-lib-header {height: 60px;}
}
@media (min-width: 768px){
	.region-top-nav .block-menu.campus-tools .content nav{left:-242px;}
	.region-top-nav .block-menu.campus-tools h3{width:38px;}
}
.region-emergency-bar {background-color: #fff;top:0px;}

/* ul, ol overwrite */
body > div.container ul {list-style: initial; padding-left: 20px;}
body > div.container ol {list-style: decimal; padding-left: 20px;}
/**/