/* catalog.berklee.edu specific CSS */
#footer{margin-left:0;}
a.opac-button-header:hover,.opac-button-header{border:none;background-color: transparent;box-shadow:none;}
/* a.opac-button-header:hover,a.opac-button:hover,.opac-button-header,.opac-button{border:none;background-color: transparent;box-shadow:none;} */
#your-acct-login{padding-top:0;}
#home_myopac_link{padding:0 0 0 0;margin: 0 0 0 0;}
input[type="checkbox"]:not(.vbo-select){opacity: 1 !important}
/*
html body *{
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    transition-property: none;
    transition-duration: none;
    transition-timing-function: none;
    transition-delay: none;
}
*/
#content-wrapper{margin-top:12px;}
tr.result_table_row td{vertical-align:top;}
.header_middle{margin-bottom: 15px;color:#666;}
#search-wrapper{}
#canvas_main .rdetail_result_nav a:nth-of-type(1) .nav_arrow_fix{font-size: 15px;}
#search-wrapper .searchbar #search_box_label{color: #666;}
#search-wrapper .searchbar #search_qtype_label{color: #666;}
#search-wrapper .searchbar #search_itype_label{color: #666;}
#search-wrapper .searchbar #search_locg_label{color: #666;}
#search_box_label #widget_search_box{-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background-color: #fff;border: 1px solid #ddd;line-height: 12px;height: 26px;align-items: center;}
#search-wrapper input[type=text]{padding: 3px;font-weight: 400;}
#canvas_main .rdetail_results a {color: #666;}
#widget_search_box_dropdown{-moz-transition: none;-webkit-transition: none;-o-transition: color 0 ease-in;transition: none;}
#search-wrapper #search_box{color: #666;}
#search-wrapper #qtype{color: #666;}
#search-wrapper #search_itype_selector{color: #666;}
#search-wrapper #search_org_selector{color: #666;}
#home_adv_search_link{
    text-decoration: none;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    background: #d8d8d8;
    padding: 0.3em 0.6em;
    display: inline-block;
}
#search-box a:hover{color:red;
}
#search-submit-go{margin-left: 10px;}

#rdetail_record_details{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5em;border-bottom: 1px dashed #aaa; width:100%;color: #BBB;}
#canvas_main h2.rdetail_contents{
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.5em;
    border-bottom: 1px dashed #aaa; width:100%;color: #BBB;}
    
#canvas_main .rdetail_content_value{border-bottom: 1px dashed #aaa; width:100%;padding-bottom: .5em;padding-top: .5em;}
#canvas_main td.rdetail_content_type{vertical-align: middle;padding-right: 8px;border-bottom: 1px dashed #aaa;}
#canvas_main table.rdetail_content{margin-left: 0px;padding-left: :0px;}
#canvas_main h2.rdetail_related_subjects{font-size: 15px;font-weight: bold;    margin-bottom: .5em;color: #BBB;}
#canvas_main td.rdetail_subject_value{padding-left: 25px;}
#rdetail_copy_counts h2{font-weight: bold;border-bottom: 1px dashed #aaa;width: 100%;color: #BBB; padding-top: 10px;}
#rdetail_hold_counts h2{font-weight: bold;border-bottom: 1px dashed #aaa;width: 100%;color: #BBB; padding-top: 10px;}
span#rdetail_hold_counts p {padding-left: 0;}
#rdetail_image_div{padding-bottom: 20px;}
/*border-bottom: 1px solid #d8d8d8;*/
#adv_search_submit .opac-button{-moz-border-radius: 2px; -webkit-border-radius: 2px;border-radius: 2px;overflow: hidden;background-color: #d81118;border: 0;color: #eee;font-family: "open sans",​ Arial,​ Helvetica,​ sans-serif;margin: 10px 10px;padding: 6px 14px; float: left;}
/*#adv_search_filters .adv_filter_block{clear:none;padding: 0px;
	margin: 0 -8px 0 0;
}*/
#adv_special_block{padding-top: 0px;margin-top: -5px;}
#adv_search_filters .adv_search_available{margin-top:-10px;display: table;}
/*#adv_global_input_table select{width:20%}
#adv_global_input_table input{width:20%}
#adv_global_row select{width:20%;}
#adv_global_tbody tr td select.invisible{width: 20%;}

#main-content .advanced_div{margin-left: 20%;
    margin-right: 20%;}*/
#adv_search_filters {position: inherit;}
#dash_wrapper #dash_user_message_button_container{vertical-align: baseline;}
#dashboard{padding:3px 8px 0px 12px;}
#dash_wrapper #dashboard *{
    vertical-align: baseline;
}
#dash_wrapper div {
    text-align: center;
}
#result_table tr.result_table_row{
    background: transparent;
    border-top: 1em solid #25353c;
}
.result_table_title_cell table.result_holdings_table thead tr th {		
    padding-top: 1em;
    padding-bottom: 1em;
}
.result_table_title_cell table.result_holdings_table thead tr th:nth-child(1){		
	padding-left: 1em;
}
@media (max-width: 1003px){
	#block-weekhours-weekhours-current .content{display: none;}
	
}
@media (max-width: 767px){
	#bcm-lib-header{height:60px;}
	#search-wrapper select,.results_header_lbl select{margin-top:16px;vertical-align:inherit;}
	table td, table td table td{padding-top:0;padding-bottom:0;}
	.result_table_pic{margin-right:4px;}
	.result_holdings_table td br,tr.result_table_row td br{display:none;}
	tr.result_table_row td{padding-top:12px;padding-bottom:0;}
	tr.result_table_row td table td{padding-top:0;padding-bottom:0;}
	tr.result_table_row td:first-child{padding-left:0;}
	tr.result_table_row td.results_row_count{padding-left:4px;}
	table.result_holdings_table{margin-top:0;margin-bottom:0;}
	.mobileMenu h3, body.page-node .mobileMenu h3{font-size: 18px;}
	#bcm-catalog-account{margin-top:5px;}
	#dash_user_message_button_container a{margin-top:0px;}
	#block-menu-menu-menu-login-menu .float-right{float:none;display: inline-block;}
	#dash_wrapper .opac-button{color:white;display: inline-table;margin: 0.3em;padding: 0.3em 0.6em;border-radius: 5px;}
	#dash_wrapper div {text-align: inherit;}
	#dash_user{color: rgb(255, 255, 255);}
	#dashboard span.dash-align a{display:inline;}
	#dashboard span{padding-left: 2px;}
	#dash_wrapper #dashboard a:hover{    background: transparent;}
	#dash_wrapper div *{vertical-align: baseline;}
	.mobileMenu a{color:white;}
}
@media (min-width: 768px){
	#bcm-lib-header{min-height:138px;}
	.region-top-nav .block-menu.campus-tools .content nav{left:-242px;}
}

@media only screen and (max-width: 600px){
	#home_adv_search_link{margin: 8px 5px;padding: 5px 8px;}
	#mobile_acct_search_links{padding-left: 10px;}
	#acct_select form{padding-top: 4px;}
	#dashboard {display: inline-table;}
	#dash_wrapper #dashboard{background: #7b8b96;padding:3px 12px 2px 9px;}
	#dashboard span{display: inherit;}
}
@media only screen and (max-width: 360px){
	#mobile_acct_search_links{padding-left: 10px;padding-bottom:6px;}
}

.region-emergency-bar {background-color: #fff;top:0px;}
