/* catalog.berklee.edu specific CSS */
#footer{margin-left:0;}
a.opac-button-header:hover,.opac-button-header{border:none;background-color: transparent;box-shadow:none;}
/* a.opac-button-header:hover,a.opac-button:hover,.opac-button-header,.opac-button{border:none;background-color: transparent;box-shadow:none;} */
#your-acct-login{padding-top:0;}
#home_myopac_link{padding:0 0 0 0;margin: 0 0 0 0;}
input[type="checkbox"]:not(.vbo-select){opacity: 1 !important}
/*
html body *{
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
    transition-property: none;
    transition-duration: none;
    transition-timing-function: none;
    transition-delay: none;
}
*/
#content-wrapper{margin-top:12px;}
tr.result_table_row td{vertical-align:top;}
.header_middle {margin-bottom: 10px;}
@media (max-width: 767px){
	#bcm-lib-header{height:60px;}
	#search-wrapper select,.results_header_lbl select{margin-top:16px;vertical-align:inherit;}
	table td, table td table td{padding-top:0;padding-bottom:0;}
	.result_table_pic{margin-right:4px;}
	.result_holdings_table td br,tr.result_table_row td br{display:none;}
	tr.result_table_row td{padding-top:12px;padding-bottom:0;}
	tr.result_table_row td table td{padding-top:0;padding-bottom:0;}
	tr.result_table_row td:first-child{padding-left:0;}
	tr.result_table_row td.results_row_count{padding-left:4px;}
	table.result_holdings_table{margin-top:0;margin-bottom:0;}
	.mobileMenu h3, body.page-node .mobileMenu h3{font-size: 18px;}
	#bcm-catalog-account{margin-top:5px;}
}
@media (min-width: 768px){
	.region-top-nav .block-menu.campus-tools .content nav{left:-242px;}
}
.region-emergency-bar {background-color: #fff;top:0px;}