/* Libguide site specific CSS */
@media (max-width: 767px){
	#bcm-lib-header {height: 60px;}
	#s-lib-public-header,	#s-lib-public-nav, #s-lib-public-main{padding-left: 1%; padding-right: 1%;}
}
@media (min-width: 768px){
	.region-top-nav .block-menu.campus-tools .content nav{left:-242px;}
	.region-top-nav .block-menu.campus-tools h3{width:38px;}
}
.region-emergency-bar {background-color: #fff;top:0px;}

/*
body > div.container ul {list-style: initial; padding-left: 20px;}
body > div.container ol {list-style: decimal; padding-left: 20px;}
*/
section.region-off-screen-sidebar .container{padding-left:0; padding-right:0}