/* from bcm-jj-all.css */
@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300);
.icon {
  font-family: fontAwesome;
}
div {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}
html body{
  font-family: "open sans", ​ Arial, ​ Helvetica, ​ sans-serif;
}
.clearfix {
  overflow: hidden;
  clear: both;
}

.region-top-nav {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5em 5% .5em;
    margin: 0 0 .5em 0;
    color: white;
    border-top: 3px solid #666;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 45px;
    top: 0;
    z-index: 990
}
.region-footer {
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 6px 0;
  background: #434141 url(//lrweb.berklee.edu/sites/all/themes/jjamerson/images/footer/bg-gray-texture.png) repeat;
  margin-top: 0;
  clear: both;
  overflow: hidden;
  padding-top: 25px;
  position: relative;
  z-index: 10;
  padding: 0;
  margin: 0;
  padding-left: 5%;
  padding-right: 5%;
}
.region-footer h3 {
  font-size: 22px;
  font-family: "open sans", ​ Arial, ​ Helvetica, ​ sans-serif;
  font-weight: 100;
  padding: 0 0 17px;
}
.region-footer h3, .region-footer a, .region-footer a:hover {
  color: #e8e8e8;
}
.region-footer h3:after {
  margin-top: 13px;
  border-bottom: 1px dotted #999;
  border-top: 1px dotted #999;
  content: '';
  display: block;
  height: 3px;
  width: 100%;
}
.region-footer .footer-block {
  color: #aeb9c3;
  float: left;
  font-size: 13px;
  margin-bottom: 10px;
  margin-top: 5em;
  width: 100%;
}
.region-footer .footer-block a {
  border-left: 1px solid #515151;
  color: #aeb9c3;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.region-footer a {
  font-size: 13px;
  line-height: 20px;
}
.region-header .container {
  height: 100%;
  margin-top: -35px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}
.container {
  margin: auto;
}

/* from jjamerson_lb_screen.css */
.region-header #logo {
  margin-top: 1.6em;
}
.region-header #logo, .region-header #logo img {
  height: 64px;
  width: auto;
}
.region-header #logo {
  left: 0;
  position: absolute;
  top: 83px;
  z-index: 980;
}
#block-block-8 .sub-title {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  margin-bottom: 0;
}
#block-block-8 .sub-title a {
  font-size: 54px;
  color: rgba(255, 255, 255, .85);
}
#block-block-8 .sub-title a:hover{
	text-decoration: none;
}
#block-block-8 .sub-title a, #block-block-8 .sub-title a i {
  text-shadow: 0 0 20px rgba(0, 0, 0, .3);
  text-transform: uppercase;
}
#block-block-8 .sub-title a i {
  margin-right: 6px;
  font-size: 40px;
  vertical-align: 3px;
  font-style: normal;
  color: rgba(255, 255, 255, .85);
}

ol, ul {
  list-style: none;
}
.region-footer .footer-block li, .region-footer .footer-block span {
  float: left;
}
.region-top-nav,
body.front #page.open {
    text-align: center
}
.region-header{
  background: url(https://library.berklee.edu/sites/all/themes/jjamerson_lb/images/header/banner/library-1.jpg) no-repeat #7b8b96;
  background-size: cover;
  background: 0 0
  position: relative;
  z-index: 15;
  height: 193px;
}
.region-footer h3{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
#block-views-7e6636293d157944927a06d5285fffdd, #block-weekhours-weekhours {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 2em;
  background: 0 0!important;
  color: #e8e8e8;
}
#block-views-7e6636293d157944927a06d5285fffdd .content, #block-weekhours-weekhours .content {
  padding-top: 0;
}
#block-views-7e6636293d157944927a06d5285fffdd td, #block-weekhours-weekhours td {
  color: #e8e8e8;
  padding: 0 1em 1em 1em;
  font-size: 1em;
  text-align: left;
  font-weight: 400;
  vertical-align: middle;
}
.region-footer div.copy {
  float: right;
}
.region-footer table, .region-footer tbody, .region-footer tr, .region-footer td{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.region-footer table {
  border-collapse: collapse;
  border-spacing: 0;
}
.region-footer h3 {
  font-size: 22px;
  font-family: "open sans", "​ Arial", "​ Helvetica", "​ sans-serif";
  font-weight: 100;
  padding: 0px 0px 17px;
}
#block-weekhours-weekhours td, #block-views-7e6636293d157944927a06d5285fffdd td {
  color: #e8e8e8;
  padding: 0 1em 1em 1em;
  font-size: 16px;
}
#block-weekhours-weekhours td i.fa-circle, #block-views-7e6636293d157944927a06d5285fffdd td i.fa-circle{
	position: absolute;
	margin-right: .5em;
	margin-left: -20px;
  margin-top: 2px;
}



/* ebsco site specific CSS */
div.bh-container{
	position: absolute;
}
#LanguageMenubarItems a.submenu-link{
	color:#333
}
#LanguageMenubarItems a.submenu-link.selected{
	font-weight:bold
}
.bg-p1,
.border-p2{
	background-color:rgba(30, 30, 30, 0.8) !important;
}
#toobarControl{
	height:38px
}
#toolbarControl .presentation{
	display:none;
}
#toolbarControl{
	background-image:none;
	border-bottom:none;
}
#toolbarControl .nav-item {
  padding: 11px 1px 12px !important;
}
.region-top-nav{
	padding:0 0 0 0;
}
#LanguageMenubarItems>.bg-p1{
	background-color: #fff !important
}
div.customerLogo,
#findFieldOuter .find-field-inner>a{
	display:none;
}
.toolbar-navigation .link,
.region-top-nav a {
	font-weight: normal;
	color: white;
	font-size: 14px;
	line-height: 1.4em;
	text-decoration: none;
	margin-right: 1em;
}
#bcm-header-wrapper{
	height: 116px;
	padding-top: 60px;
  padding-right: 30px;
  font-size: 40px;
  color: #fff;
  text-align: right;
  width:100%;
  background-color: #f0f0f0
}
#block-block-8{
	line-height: 1.4em;
}
#ctl00_PreferencesControl_header img{
	display:none;
}
.basic .find-field-outer{
	width: 100%;
	position: relative;
  padding: 0 0 5px 0;
  min-height: 74px;
  background: #fff url(../../layout2/bg_header.png) 0 bottom repeat-x;
  border-bottom: 1px solid #E7E7E7;
}
.basic .find-field-outer .find-field-controls{
	padding-left:40px;
}
.guest-login{
	display: inline-block;
	float:right;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-left-radius: 30px;
	padding: 6px 10px 6px 20px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
	background-color:#f1efe2;

}
.guest-login a{
	color: #000;
	margin-right:0;
}
.styled-button-c3 {
  border-color: #d81118 !important;
  background: #d81118 !important;
}

#header .color-p4, #header a:link, #header a:visited,
#mainContentArea .color-p4, #mainContentArea a:link, #mainContentArea a:visited {
  color: #d81118 !important;
  text-decoration: none;
}
